.custom-file-upload {
    display: inline;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.custom-file-upload:hover {
    background-color: blueviolet;
}

#category-image,
#product-images {
    display: none;
}

.image-preview {
    margin-top: 10px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid #007bff;
    padding: 5px;
    border-radius: 5px;
}
.fs-7 {
    font-size: 0.9rem !important; /* ≈14.4px, to hơn mặc định một chút */
    font-weight: 500; /* đậm nhẹ cho rõ hơn */
    padding: 6px 10px !important; /* tăng nhẹ khoảng cách trong badge */
}
